$color-primary: #D40072;
$color-secondary: #F5F7FB;
$color-tertiary: #F1F2F5;
$color-residential: #F4B234;
$color-business: #442563;
$color-link-hover: #8D0E57;
$color-text: #000000;
$color-white: #FFFFFF;
$color-dark-gray: #4A4A4A;