$px0: 0px;
$px1: 1px;
$px5: 5px;
$px8: 8px;
$px10: 10px;
$px12: 12px;
$px15: 15px;
$px16: 16px;
$px20: 20px;
$px25: 25px;
$px30: 30px;
$px35: 35px;
$px45: 45px;
$px50: 50px;
$px60: 60px;
$px200: 200px;